/* 
// App Stylesheet
// --------------
*/

// Import Bootstrap
@import "../../node_modules/bootstrap/less/bootstrap.less";

// Give the navigation some padding
.nav {
	margin: 10px 0;
	
	// Style the active links
	a.active {
		font-weight: bold;
	}
}

@color-x: rgb(255, 0, 0);
@color-y: rgb(0, 255, 0);


.gameboard {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.showTurn {
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-left: 10px;
  position: absolute;
  margin-top: 2px;
  &.x {
    background-color: @color-x;
  }
  &.y {
    background-color: @color-y;
  }
}
.turn-x .tile.inactive:hover .content {
  background-color: lighten(@color-x, 40%);
}
.turn-y .tile.inactive:hover .content {
  background-color: lighten(@color-y, 40%);
}

.tile {
  height: 100px;
  width: 100px;
  border: 1px solid gray;
  display: inline-block;
  margin: -1px -1px 0 0;
  float: left;
  cursor: pointer;

  .content {
    width: 90%;
    height: 90%;
    margin: 5%;
  }

  &.active {
    cursor: initial;
  }
  &.x .content {
    background-color: @color-x;
  }
  &.y .content{
    background-color: @color-y;
  }
  &.winner {
    background-color: yellow;
  }
}

@replay: rgba(255,255,255,0.3);
.replay:hover {
  cursor: pointer;
  background-color: darken(@replay, 40%);;
}
.replay {
    height: 300px;
    width: 300px;
    z-index: 1000;
    position: relative;
    top: -318px;
    background-color: @replay;

  h3 {
    padding-top: 45%;
    text-align: center;
    color: #4f4f4f;
  }
}